.navbar-brand {
color: aqua;
}

#firstName {
    font-size: xx-large;
}

article {
    background-color: rgb(145, 157, 172);
    padding: 30px;
    margin-bottom: 30px;
}

p {
    font-size: x-large;
}

